<a href="https://colab.research.google.com/github/MHZur/Diplomado_Publico/blob/main/Tareas/Tarea_ejercicios_libro_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Capítulo 2

In [11]:
#1.-Construya un vector con la primeras 20 letras MAYÚSCULAS usando la función LETTERS.
vector_letras <- letters[1:20]
print(v)

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t"

In [8]:
# 2.- Construya una matriz de 10 × 10 con los primeros 100 números positivos pares.
matriz <- matrix(seq(from=2, to=200, by=2), nrow=10, ncol=10)
matriz

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  2   22   42   62    82  102  122  142  162  182
 [2,]  4   24   44   64    84  104  124  144  164  184
 [3,]  6   26   46   66    86  106  126  146  166  186
 [4,]  8   28   48   68    88  108  128  148  168  188
 [5,] 10   30   50   70    90  110  130  150  170  190
 [6,] 12   32   52   72    92  112  132  152  172  192
 [7,] 14   34   54   74    94  114  134  154  174  194
 [8,] 16   36   56   76    96  116  136  156  176  196
 [9,] 18   38   58   78    98  118  138  158  178  198
[10,] 20   40   60   80   100  120  140  160  180  200

In [9]:
# 3.- Construya una matriz identidad de dimensión 3×3. Recuerde que una matriz identidad tiene sólo unos en la diagonal principal y los demás elementos son cero.
i<-c(1,0,0)
j<-c(0,1,0)
k<-c(0,0,1)
identidad <-data.frame(i,j,k)
identidad

  i j k
1 1 0 0
2 0 1 0
3 0 0 1

In [12]:
# 4.- Construya una lista con los anteriores tres objetos creados.
lista <-list(vector_letras, matriz, identidad)
lista

[[1]]
 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t"

[[2]]
      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    2   22   42   62   82  102  122  142  162   182
 [2,]    4   24   44   64   84  104  124  144  164   184
 [3,]    6   26   46   66   86  106  126  146  166   186
 [4,]    8   28   48   68   88  108  128  148  168   188
 [5,]   10   30   50   70   90  110  130  150  170   190
 [6,]   12   32   52   72   92  112  132  152  172   192
 [7,]   14   34   54   74   94  114  134  154  174   194
 [8,]   16   36   56   76   96  116  136  156  176   196
 [9,]   18   38   58   78   98  118  138  158  178   198
[10,]   20   40   60   80  100  120  140  160  180   200

[[3]]
  i j k
1 1 0 0
2 0 1 0
3 0 0 1

In [ ]:
#5.- Construya un marco de datos o data frame con las respuestas de 3 personas a las preguntas: (a) ¿Cuál es su edad en años? (b) ¿Tipo de música que más le gusta? (c) ¿Tiene usted pareja sentimental estable?
df <- data.frame(
  "¿Cuál es su edad en años?" = 20,
  "¿Tipo de música que más le gusta?" = "Rock",
  "¿Tiene usted pareja sentimental estable?" = "Sí"
)

df

  X.Cuál.es.su.edad.en.años. X.Tipo.de.música.que.más.le.gusta.
1 20                         Rock
  X.Tiene.usted.pareja.sentimental.estable.
1 Sí

In [ ]:
#6.- ¿Cuál es el error al correr el siguiente código? ¿A qué se debe?
edad <- c(15, 19, 13, NA, 20)
deporte <- c(TRUE, TRUE, NA, FALSE, TRUE)
comic_fav <- c(NA, 'Superman', 'Batman', NA, 'Batman')
matrix(edad, deporte, comic_fav)

# R.- LAS MATRICES SOLO PUEDEN CONTENER UN TIPO DE DATO.

ERROR: ignored

#Capítulo 5

In [ ]:
# 1.- ¿Qué cantidad de dinero sobra al repartir 10000$ entre 3 personas?

print(10000%%3) # R.-Sobra 1$

[1] 1

In [ ]:
#2.- ¿Es el número 4560 divisible por 3?

print(4560%%3) == 0 # R.- Sí, el residuo es 0.

[1] 0

[1] TRUE

In [20]:
#3.- Construya un vector con los números enteros del 2 al 87. ¿Cuáles de esos números son divisibles por 7?
v <- c(2:87)

#print(v)

v[as.logical(v%%7==0)] #Se aplica un vector binario donde son verdaderos los números divisibles por 7.

 [1]  7 14 21 28 35 42 49 56 63 70 77 84

In [21]:
#4.- Construya dos vectores, el primero con los números enteros desde 7 hasta 3, el segundo vector con los primeros cinco números positivos divisibles por 5.
#Sea A la condición de ser par en el primer vector. Sea B la condición de ser mayor que 10 en el segundo vector.
#¿En cuál de las 5 posiciones se cumple A y B simultáneamente?
v1 <- 7:3
v2 <- seq(from=5, by=5, length.out = 5)

v1%%2 == 0 & v2>10 #R.- Posición 4.

[1] FALSE FALSE FALSE  TRUE FALSE

In [22]:
#5.- Consulte este enlace en el cual hay una anéctoda de Gauss niño. Use R para obtener el resultado de la suma solicitada por el profesor del niño Gauss.

suma <- function(n) {
  return(n*(n+1)/2)
}

suma(100)

[1] 5050

In [ ]:
#6.-Construya un vector con los siguientes elementos: 1, -4, 5, 9, -4. Escriba un procedimiento para extraer las posiciones donde está el valor mínimo en el vector.
v <- c(1, -4, 5, 9, -4)
minimo <- min(v)

v <- v == minimo

for (i in c(1:length(v))){
if (v[i] )
{
  print(i)
}}

[1] 2
[1] 5

In [ ]:
#7.- Calcular  8!

factorial(8)

[1] 40320

####8.- Evaluar la siguiente suma $\sum_{i=3}^{i=7}e^i$

In [23]:
suma <- 0
for (i in (3:7))
{
suma <- suma + exp(i)
}
print(suma)

[1] 1723.159

####9.- Evaluar la siguiente productoria $\prod_{i=1}^{i=10}\log\sqrt{i}$

In [ ]:
prod <- 1
for (i in (1:10))
{
prod <- prod * log(i**(0.5))
}
print(prod)

[1] 0

In [25]:
#10 Construya un vector cualquiera e inviertalo, es decir, que el primer elemento quede de último, el segundo de penúltimo y así sucesivamente. Compare su resultado con el de la función rev.
v <- c(1,2,3,3,10,11)
v

v_2 <- c(v[length(v)])
for (i in c((length(v)-1):1)){
v_2 <- c(v_2, v[i])
}

print(v_2)

rev(v) == (v_2)

[1]  1  2  3  3 10 11

[1] 11 10  3  3  2  1

[1] TRUE TRUE TRUE TRUE TRUE TRUE

In [ ]:
#11.-Create the vector: 1,2,3,...,19,20
v <- c(1:20)
print(v)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#12.-Create the vector: 20,19,18,...,2,1
v <- c(20:1)
print(v)

 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [ ]:
#13.- Create the vector: 1,-2,3,...,19,-20
signos <- rep(c(1,-1), 10)
v <- c(1:20)

v <- v*signos
print(v)

 [1]   1  -2   3  -4   5  -6   7  -8   9 -10  11 -12  13 -14  15 -16  17 -18  19
[20] -20

14.- Create the vector $0.1^3, 0.2^1, 0.1^6, 0.2^4, . . . , 0.1^{36}, 0.2^{34}$

In [ ]:
potencia <- c(3,1,6,4,9,7,15,13,18,16,21,19,24,22,27,25,30,28,33,31,36,34)
base <- rep(c(0.1,0.2), 11)
v = base**potencia
print(v)

 [1] 1.000000e-03 2.000000e-01 1.000000e-06 1.600000e-03 1.000000e-09
 [6] 1.280000e-05 1.000000e-15 8.192000e-10 1.000000e-18 6.553600e-12
[11] 1.000000e-21 5.242880e-14 1.000000e-24 4.194304e-16 1.000000e-27
[16] 3.355443e-18 1.000000e-30 2.684355e-20 1.000000e-33 2.147484e-22
[21] 1.000000e-36 1.717987e-24

####15.- Calculate the following: $\sum_{i=10}^{100}(i^3+4i^2)$ and $\sum_{i=1}^{25}\left( \frac{2^i}{i} + \frac{3^i}{i^2} \right)$

In [ ]:
suma <- 0
for (i in (10:100))
{
suma <- suma + (i**3) + (4*i**2)
}
print(suma)

[1] 26852735

In [ ]:
suma <- 0
for (i in (1:25))
{
suma <- suma + ((2)**i)/(i) + ((3)**i)/(i**2)
}
print(suma)

[1] 2129170437

In [ ]:
#16.- Read the data set available in: https://raw.githubusercontent.com/fhernanb/datos/master/Paises.txt

df <- read.table("/content/dataset_paises.txt", header = TRUE)
df

    Pais             poblacion alfabetizacion tasamortinf PIB
1   Acerbaján_          7400    98             35.0        3000
2   Afganistán         20500    29            168.0         205
3   Alemania           81200    99              6.5       17539
4   Arabia_Saudí       18000    62             52.0        6651
5   Argentina_         33900    95             25.6        3408
6   Armenia_            3700    98             27.0        5000
7   Australia_         17800   100              7.3       16848
8   Austria_            8000    99              6.7       18396
9   Bahrein_             600    77             25.0        7875
10  Bangladesh        125000    35            106.0         202
11  Barbados             256    99             20.3        6950
12  Bélgica_           10100    99              7.2       17912
13  Bielorusia         10300    99             19.0        6500
14  Bolivia_            7900    78             75.0         730
15  Bosnia              4600    86             12.7        3098
16  Botswana            1359    72             39.3        2677
17  Brasil            156600    81             66.0        2354
18  Bulgaria            8900    93             12.0        3831
19  Burkina_Faso       10000    18            118.0         357
20  Burundi_            6000    50            105.0         208
21  Camboya_           10000    35            112.0         260
22  Camerún_           13100    54             77.0         993
23  Canadá             29100    97              6.8       19904
24  Chile_             14000    93             14.6        2591
25  China_           1205200    78             52.0         377
26  Colombia           35600    87             28.0        1538
27  Corea_del_Norte_   23100    99             27.7        1000
28  Corea_del_Sur_     45000    96             21.7        6627
29  Costa_Rica          3300    93             11.0        2031
30  Croacia_            4900    97              8.7        5487
⋮   ⋮                ⋮         ⋮              ⋮           ⋮
78  Países_Bajos      15400    99               6.3       17245
79  Pakistán         128100    35             101.0         406
80  Panamá             2600    88              16.5        2397
81  Paraguay           5200    90              25.2        1500
82  Perú              23650    85              54.0        1107
83  Polonia_          38600    99              13.8        4429
84  Portugal          10500    85               9.2        9000
85  Rep._C._Africana   3300    27             137.0         457
86  Rep._Dominicana_   7800    83              51.5        1034
87  Ruanda             8400    50             117.0         292
88  Rumanía_          23400    96              20.3        2702
89  Rusia_           149200    99              27.0        6680
90  Senegal_           8700    38              76.0         744
91  Singapur           2900    88               5.7       14990
92  Siria_            14900    64              43.0        2436
93  Somalia_           6667    24             126.0        2126
94  Sudáfrica_        43900    76              47.1        3128
95  Suecia             8800    99               5.7       16900
96  Suiza_             7000    99               6.2       22384
97  Tailandia_        59400    93              37.0        1800
98  Taiwan            20944    91               5.1        7055
99  Tanzania          29800    46             110.0         263
100 Turquía_          62200    81              49.0        3721
101 Ucrania_          51800    97              20.7        2340
102 Uganda            19800    48             112.0         325
103 Uruguay_           3200    96              17.0        3131
104 Uzbekistán        22600    97              53.0        1350
105 Venezuela_        20600    88              28.0        2829
106 Vietnam_          73100    88              46.0         230
107 Zambia             9100    73              85.0         573

In [ ]:
#17.- Use a code to obtain the number of variables of the data set.
ncol(df)

[1] 5

In [ ]:
#18.- Use a code to obtain the number of countries in the data set.
nrow(df)

[1] 107

In [ ]:
#19.- Which is the country with the higher population?
df[which.max(df$poblacion),"Pais"]

[1] "China_"

In [ ]:
#20 Which is the country with the lowest literacy rate? alfabetizacion
df[which.min(df$alfabetizacion),"Pais"]

[1] "Burkina_Faso"

In [ ]:
#21.- ¿Qué valor de verdad tiene la siguiente afirmación? “Los resultados de la función floor y trunc son siempre los mismos”.

floor(-0.5) == trunc(-0.5) # R.- Falso

[1] FALSE

####En R hay unas bases de datos incluídas, una de ellas es la base de datos llamada mtcars. Para conocer las variables que están en mtcars usted puede escribir en la consola ?mtcars o también help(mtcars). De la base mtcars obtenga bases de datos que cumplan las siguientes condiciones.

In [ ]:
df

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [ ]:
#22.- Autos que tengan un rendimiento menor a 18 millas por galón de combustible.

df <- mtcars

result <- df[df['mpg'] < 18, ]

result

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [ ]:
#23.- Autos que tengan 4 cilindros.
df <- mtcars

result <- df[df['cyl'] == 4, ]

result

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [ ]:
#24.- Autos que pesen más de 2500 libras y tengan transmisión manual.

df <- mtcars

result <- df[df['wt'] > 2.5 & df['am'] == 1, ]

result

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Ford Pantera L 15.8 8   351  264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino   19.7 6   145  175 3.62 2.770 15.50 0  1  5    6
Maserati Bora  15.0 8   301  335 3.54 3.570 14.60 0  1  5    8
Volvo 142E     21.4 4   121  109 4.11 2.780 18.60 1  1  4    2

# Capítulo 7

In [ ]:
#1.- Construya una función que reciba dos números reales a y b, la función debe decir cuál es el mayor de ellos.

f_mayor <- function(x, y){
  if(x >= y){
    return (x)
  }
  else {
    return (y)
  }

}

print(f_mayor(3,2))

[1] 3

In [ ]:
#2 Escriba una función llamada media que calcule la media muestral de un vector numérico x ingresado a la función.

f_media <- function(x)
{
  if(is.numeric(x)){return(sum(x)/length(x))}
  else {"El vector no es numérico"}

}
print(f_media(c(1,2,3,4)))

print(f_media(c(1,"a",3,4)))

[1] 2.5
[1] "El vector no es numérico"

####3.- Construya una función que encuentre las raíces de una ecuación de segundo grado. El usuario debe suministrar los coeficientes a, b y c de la ecuación $ax^2+bx+c=0$ y la función debe entregar las raíces.

In [ ]:
f_raices <- function(a,b,c){
  return(c( ((-b+(b^2-4*a*c)^(0.5))/2*a), ((-b-(b^2-4*a*c)^(0.5))/2*a) ))
}

f_raices(1,5,6)

[1] -2 -3

In [ ]:
#4.- Escribir una función que calcule la velocidad de un proyectil dado que el usuario ingresa la distancia recorrida en Km y el tiempo necesario en minutos. Expresar el resultado se debe entregar en metros/segundo, recuerde que v=d/t

f_velocidad <- function(d,t)
{
if (t==0){return("Valor de t no válido")}
else{return(d/t)}
}

print(f_velocidad(5,2))

[1] 2.5

In [ ]:
#5.- Escribir una función que reciba dos valores a y b y que los intercambie. Es decir, si ingresa a=4 y b=9 que la función entregue a=9 y b=4.

f_intercambio <- function(a,b)
{
c <- b
b <<- a
a <<- c
}

a <- 4
b <- 9

f_intercambio(a,b)

print(a)
print(b)

[1] 9
[1] 4

In [ ]:
#6.- Construya una función a la cual le ingrese el salario por hora y el número de horas trabajadas durante una semana por un trabajador. La función debe calcular el salario neto.

f_salario_neto <-function(salario, horas)
{
  return(salario*horas)
}

print(f_salario_neto(5,20))

[1] 100

In [ ]:
#7.- Construya una función llamada precio que calcule el precio total de sacar A fotocopias y B impresiones,
#sabiendo que los precios son 50 y 100 pesos para A y B respectivamente si el cliente es un estudiante,
#y de 75 y 150 para A y B si el cliente es un profesor. La función debe tener dos argumentos cuantitativos (A y B) y el argumento lógico estudiante que por defecto tenga el valor de TRUE.
#Use la estructura mostrada abajo.

precio <- function(A, B, estudiante=TRUE) {

  if (estudiante){precio.total = 50*A+100*B}
  else {precio.total <- 75*A+150*B}

  return(precio.total)
}

print(precio(1,1,FALSE))
print(precio(1,1))

[1] 225
[1] 150

In [ ]:
#8.- Construya una función llamada salario que le ingrese el salario por hora y el número de horas trabajadas durante una semana por un trabajador.
#La función debe calcular el salario neto semanal, teniendo en cuenta que si el número de horas trabajadas durante la semana es mayor de 48,
#esas horas de demás se consideran horas extras y tienen un 35% de recargo. Imprima el salario neto. Use la estructura mostrada abajo.

salario <- function(num.horas, valor.hora) {

  if (num.horas > 48) {
    horas.extra <- num.horas-48
    salario.neto <- valor.hora*(48 + horas.extra* 0.65)
    }
  else
  {
    salario.neto <- valor.hora*num.horas
  }

  return(salario.neto)
}

print(salario(49,1))
print(salario(48,1))

[1] 48.65
[1] 48

In [ ]:
#9.- Construya una función llamada nota que calcule la nota obtenida por un alumno en una evaluación de tres puntos cuya ponderación o importancia son
# 20%, 30% y 50% para los puntos I, II y III respectivamente.
#Adicionalmente la función debe generar un mensaje sobre si el estudiante aprobó la evaluación o no.
#El usuario debe ingresar las notas individuales de los tres puntos y la función debe entregar la nota final de la evaluación. Use la estructura mostrada abajo.
nota <- function(p1, p2, p3) {
  nota.final<- p1*0.20 + p2*0.30 + p3*0.50

  if(nota.final >= 6){print("Aprobó")}
  else(print("No aprobó"))

  return(nota.final)
}

print(nota(6,6,6))

print(nota(6,6,5))

[1] "Aprobó"
[1] 6
[1] "No aprobó"
[1] 5.5

In [ ]:
#10.- Escriba una función llamada minimo que permita obtener el valor mínimo de un vector numérico.
#No puede usar ninguna de las funciones básicas de R como which.min(), which.max(), order(), min( ), max( ), sort( ) u order( ). Use la estructura mostrada abajo.

minimo <- function(x) {

  minimo <- x[1]

  for (i in x)
  {
    if(i <= minimo)
    {
      minimo <- i
    }
  }

  return(minimo)
}

print(minimo(c(1,2,3,-5)))

print(minimo(c(-10,2,3,-5)))

[1] -5
[1] -10

In [ ]:
#11.- Construya una función que calcule las coordenadas del punto medio  M entre dos puntos A y B. Vea la siguiente figura para una ilustración.
#¿Cuáles cree usted que deben ser los parámetros de entrada de la función?

#R.- Los parámetros de entrada deben de ser dos vectores de longitud dos.

pto_medio <- function(p1,p2){
  x <- (p1[1]+p2[1])/2
  y <- (p1[2]+p2[2])/2
  return(c(x,y))

}

print(pto_medio(c(1,1), c(2,2)))

print(pto_medio(c(-1,-1), c(1,1)))

[1] 1.5 1.5
[1] 0 0